<!DOCTYPE html>
<html>
  <body>
    {% with firstname='Tobias' %}
      <h1>Hello {{ firstname }}, how are you?</h1>
    {% endwith %}

    {% for x in fruits %}
      <h2>{{ x }}</h2>
    {% endfor %}

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      {% for x in mymembers %}
        <tr>
          <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
          <td>{{ x.lastname }}</td>
        </tr>
      {% endfor %}
    </table>

    <ul>
      {% for x in emptytestobject %}
        <li>{{ x.firstname }}</li>
        {% empty %}
        <li>No members</li>
      {% endfor %}
    </ul>

    <p>In views.py you can see what the fruits variable looks like.</p>
  </body>
</html>
